.main{
	height: 100%;
	width: 100%;
	background-color: #F5F5F5;
}
.search-nav{
	position: fixed;
	width: 100%;
	height: 40px;
	background: rgba(201, 21, 35, 1);
	box-sizing: border-box;
	padding-left: 75px;
	padding-right: 50px;
	/* position: relative; */
	overflow: hidden;
}
.search-nav .input{
	width: 100%;
	height: 30px;
	background-color: white;
	margin-top: 5px;
	position: relative;
	border-radius: 15px;
	overflow: hidden;
}
.search-nav .lg-img{
	position: absolute;
    top: 10px;
    left: 7px;
    width: 56px;
    height: 21px;
	background-image: url(../images/jd-sprites.png);
	background-size: 200px 200px;
	background-position: 0 -109px;
}
.search-nav .bg-sch-bgimg{
	display: block;
    position: absolute;
    top: 5px;
    left: 10px;
    width: 20px;
    height: 20px;
	background-position: -60px -109px;
	background-image: url(../images/jd-sprites.png);
    background-size: 200px 200px;
}
.search-nav .it-cnt{
	width: 100%;
    height: 100%;
    padding: 8px 0 8px 30px;
    font-size: 14px;
    border-radius: 15px;
}
.search-nav .lg-btn{
	position: absolute;
    right: 10px;
    top: 0;
    width: 30px;
    height: 40px;
    line-height: 40px;
    color: #FFF;
    font-size: 15px;
}
.container{
	width: 100%;
}
.container .ct-nav{
	width: 100%;
	background-color: #FFF;
	padding-bottom: 10px;
}
.container .ct-nav ul{
	width: 100%;
	padding-top: 2px;
	box-sizing: border-box;
	background-color: #FFF;
}
.container .ct-nav li{
	float: left;
	width: 25%;
	text-align: center;
}
.container .ct-nav li img{
	/* padding: 8px 38px 2px 38px; */
	margin: 8px auto 2px;
	height: 40px;
	width: 40px;
	box-sizing: border-box;
}
.container .ct-nav li span{
	font-size: 12px;
	color: #666;
}

.container .sec-kill{
	width: 100%;
	margin-top: 10px;	
	background-color: #FFF;
}
.container .sec-kill .title{
	overflow: hidden;
	height: 15px;
	padding: 10px;
}
.container .sec-kill .bg-clock{
	display: block;
	width: 20px;
	height: 26px;
	margin-top: -5px;
	background-image: url(../images/jd-sprites.png);
	background-repeat: no-repeat;
	background-size: 200px 200px;
	background-position: -84px -107px;
	color: #CA1327;
	font-size: 15px;
	float: left;
}
.container .sec-kill .bg-clock::after{
	content: '掌上秒杀';
	display: block;
	height: 26px;
	margin-left: 22px;
	line-height: 26px;
	font-style: normal;
    width: 65px;
}
.container .sec-kill .dj-time{
	margin-left: 70px;
    height: 17px;
	float: left;
	/* margin-top: -2px; */
}
.container .sec-kill .dj-time .colon{
	float: left;
	margin: 0 2px;
}
.container .sec-kill .dj-time .cmn-span{
	/* display: inline-block; */
	float: left;
	font-size: 15px;
	width: 20px;
	height: 17px;
	padding: 0 2px;
	line-height: 15px;
	/* margin-top: -2px; */
	text-align: center;
	color: #ffffff;
	background-color:  #3d3d3d;
	border-radius: 2px;
}
.container .sec-kill .more-kill{
	font-size: 12px;
	float: right;
	color: #666;
	position: relative;
	right: 10px;
}
.container .sec-kill .more-kill::after{
	content: "";
	position: absolute;
	top: 3px;
    right: -10px;
    width: 7px;
    height: 12px;
	background-image: url(../images/jd-sprites.png);
	background-size: 200px 200px;
    background-position: -186px -51px;
}
.container .sec-kill .sec-cnt{
	width: 100%;
	padding: 0px 10px;
	box-sizing: border-box;
}
.container .sec-kill .sec-cnt li{
	width: 33.3333%;
	float: left;
	padding: 10px 10px;
	box-sizing: border-box;
	position: relative;
}
.container .sec-kill .sec-cnt li a{
	display: block;
	width: 100%;
	position: relative;
}
.container .sec-kill .sec-cnt li img{
	width: 100%;
}
.container .sec-kill .sec-cnt li .now-price{
	color: #ed5657;
	font-size: 14px;
	text-align: center;
	margin-top: 8px;
}
.container .sec-kill .sec-cnt li .old-price{
	text-decoration: line-through;
	font-size: 10px;
	color: #888;
	text-align: center;
}
.container .sec-kill .sec-cnt li span{
	position: absolute;
	right: 0;
	bottom: 0;
	color: #FFF;
	background-color: #fdb60a;
	padding: 5px;
	border-radius: 50%;
	font-size: 10px;
}
.hd-img{
	width: 100%;
	position: relative;
	/* padding: 0% 5px;
	box-sizing: border-box; */
}
.hd-img>img{
	width: 100%;
}
.hd-img ul{
	/* background-color: rebeccapurple; */
	width: 100%;
	height: 69%;
	position: absolute;
	left: 0%;
	top: 27%;
	padding: 0% 10px;
	box-sizing: border-box;
}
.hd-img li{
	width: 50%;
	float: left;
}
.hd-img li img{
	width: 100%;
}
.list-shopping{
	width: 100%;
}
.list-shopping ul li{
	width: 100%;
}
.list-shopping ul li a{
	float: left;
	width: 50%;
}
.list-shopping ul li:first-child a{
	float: left;
	width: 33.3333%;
}
.list-shopping ul li a{
	float: left;
	width: 50%;
}
.advert{
	width: 100%;
	padding: 0 8px;
	margin-top:8px;
	box-sizing: border-box;
}
.market,.theme,.brand{
	margin-top: 10px;
	width: 100%;
	background-color: #ffffff;	
}
.market h4,.theme h4,.brand h4{
	height: 34px;
    line-height: 34px;
    padding: 0 8px;
    color: #f25353;
    font-size: 16px;
    font-weight: normal;
}
.market ul li{
	width: 100%;
}
.market ul li div{
	width: 50%;
	float: left;
}
.market ul li div a{
	display: inline-block;
	width: 100%;
}
.market ul li:last-child a{
	float: left;
	width: 50%;
}
.market ul li img{
	display: block;
	width: 100%;
}
.theme ul{
	width: 100%;
}
.theme ul li{
	width: 100%;
	overflow: hidden;
}
.theme ul li a{
	float: left;
	width: 25%;
}
.theme ul li:first-child,.theme ul li:nth-child(2){
	width: 50%;
	float: left;
}
.theme ul li:first-child a{
	display: block;
	width: 100%;
}
.theme ul li:nth-child(2) a{
	float: left;
	width: 50%;
}
.theme ul li:nth-child(2) a:first-child{
	width: 100%;
}
.brand ul li{
	width: 30%;
	float:left;
}
.brand ul li:first-child{
	width: 40%;
}
